<div id="edit-modal-overlay" class="modal-overlay hidden"></div>
<div id="edit-modal" class="edit-modal hidden">
    <div class="fusen fusen-edit-position">
        <div class="fusen-inner">
            <div class="fusen-front">
                <span id="fusen-content"></span>
                <img class="fusen-logo" src="{{ url_for('static', filename='images/chocottoMemo_fusen.svg')}}">
            </div>
            <div class="fusen-back">
                <span id="fusen-expires-at"></span>
            </div>
        </div>
    </div>
    <form id="fusen-form" class="form-container">
        <textarea class="content-box" id="content" rows="20" cols="50" required maxlength="100" placeholder="内容を入力してください・・・"></textarea>
        <input class="expires-date-box" type="text" id="datepicker" name="expires_at" placeholder="期限を選択してください・・・">
        <div class="color-pallet-background">
            <button type="button" class="color-option" data-color="#A9CEEC" style="background: #A9CEEC;"></button>
            <button type="button" class="color-option" data-color="#F8C394" style="background: #F8C394;"></button>
            <button type="button" class="color-option" data-color="#FF9699" style="background: #FF9699;"></button>
            <button type="button" class="color-option" data-color="#96F8AF" style="background: #96F8AF;"></button>
            <button type="button" class="color-option" data-color="#FFE57B" style="background: #FFE57B;"></button>
            <button type="button" class="color-option" data-color="#B3ADFF" style="background: #B3ADFF;"></button>
        </div>
        <input type="hidden" id="selected-color" name="color">
        <button type="submit" class="button save-button" value="保存" name="create-data">
            <img class="icon" src="{{ url_for('static', filename='images/save-button.svg') }}">
        </button>
    </form>
</div>
