<div class="fusen-menu">
    <button type="button" class="fusen-menu-button">⋯</button>
    <div class="fusen-menu-dropdown">
        <button type="button" class="button edit-button">
            <img class="icon" src="{{ url_for('static', filename='images/create-button.svg') }}" alt="編集">
        </button>
        <button type="button" class="button delete-button">
            <img class="icon" src="{{ url_for('static', filename='images/delete-button.svg') }}" alt="削除">
        </button>
    </div>
</div>