<div class="fusen-menu">
    <button type="button" class="fusen-menu-button">⋯</button>
    <div class="fusen-menu-dropdown">
        <button type="button" class="button edit-button">
            <span class="button-text button-text-black">編集する</span>
            <img class="edit-button-icon" src="{{ url_for('static', filename='images/create-button.svg') }}" alt="編集する">
        </button>
        <button type="button" class="button delete-button">
            <span class="button-text button-text-black">削除する</span>
            <img class="delete-button-icon" src="{{ url_for('static', filename='images/delete-button.svg') }}" alt="編集する">
        </button>
    </div>
</div>