<div class="fusen-menu">
    <button type="button" class="fusen-menu-button">⋯</button>
    <div class="fusen-menu-dropdown">
        <button type="button" class="edit-button">
            <span class="edit-button-text">編集する</span>
            <img class="edit-button-icon" src="{{ url_for('static', filename='images/create-button.svg') }}" alt="編集する">
        </button><br>
        <button type="button" class="delete-button">
            <span class="delete-button-text">削除する</span>
            <img class="delete-button-icon" src="{{ url_for('static', filename='images/delete-button.svg') }}" alt="編集する">
        </button>
    </div>
</div>