<div id="login-modal-overlay" class="modal-overlay hidden"></div>
<div id="login-modal" class="login-modal hidden">
    <button class="button google-login-button" onclick="location.href='{{url_for("auth.google_login")}}'">
        <img class="google-login-button-icon" src="{{url_for('static', filename='images/google-logo.svg')}}">
        <span class="button-text button-text-white">Googleでログイン</span>
    </button>
    <span class="heading-m">無料ですぐに始められます</span>
    <span class="heading-s">登録済みの方もはじめての方も<br>こちらからどうぞ！</span>
</div>