{% extends "base.html" %}
{% block head %}
    <script type="module" src="{{ url_for('static', filename='js/startupMain.js') }}" defer></script>
{% endblock %}
{% block body_class %}layout-container splash-container{% endblock %}
{% block body_attribute %}data-timer="{{ timer }}" data-next-url="{{ nextUrl }}"{% endblock %}
{% block body %}
    <header class="splash-header">
        <div class="splash-fusen" style="background: #F8C394;"></div>
        <div class="splash-fusen top-y-fusen" style="background: #A9CEEC;"></div>
        <div class="splash-fusen" style="background: #B3ADFF;"></div>
        <div class="splash-fusen top-y-fusen" style="background: #FFE57B;"></div>
    </header>
    <main class="splash-main">
        <img class="splash-title" src="{{ url_for('static', filename='images/Title_chocottoMemo.svg')}}"><br>
    </main>
    <footer class="splash-footer">
        <div class="footer-fusen-group">
            <div class="splash-fusen under-y-fusen" style="background: #FF9699;"></div>
            <div class="splash-fusen" style="background: #96F8AF;"></div>
        </div>
    </footer>
{% endblock %}