@font-face {
    font-family:charifont;
    src:url("../fonts/Charifont.otf") format("opentype") 
}
@font-face {
    font-family: yomogi;
    src:url("../fonts/Yomogi-Regular.ttf") format("opentype")
}

textarea, input, select{
    appearance: none;
    -webkit-appearance: none;
    background-color: white;
    color: black;
    font-family: yomogi;
    font-size: var(--font-size-l);
}
input[type="date"]::-webkit-date-and-time-value {
    text-align: left;
}
input:focus,
textarea:focus {
    border-color: var(--blue);
    box-shadow: var(--ring-md) var(--white-blue-020), 
                var(--box-shadow-m) var(--black-015);
    font-size: var(--font-size-m);
}