.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    white-space: nowrap;
    border: var(--border-none);
    border-radius: var(--border-radius-s);
    box-shadow: var(--box-shadow-m) var(--black-015);
    transition: all 0.2s ease;
    padding: 5px;
}
.button:active {
    transform: scale(0.94);
}
.create-button{
    position: fixed;
    text-align: left;
    right: var(--page-side-space);
    bottom: 50px;
    background-color: var(--blue);
    height: var(--height-50)
}
.edit-button {
    text-align: center;
    background-color: var(--white-green);
    height: var(--height-50);
    margin-bottom: 10px;
}
.delete-button {
    text-align: center;
    background-color: var(--white-red);
    height: var(--height-50)
}
.save-button{
    text-align: center;
    width: min(90vw, 300px);
    background-color: var(--blue);
    height: var(--height-50)
}
.google-login-button {
    text-align: center;
    background-color: var(--brown);
    margin-bottom: 20px;
}
.login-button {
    text-align: center;
    background-color: var(--brown);
    grid-column: 3 / 4;
    justify-self: center;
    align-self: center;
    height: var(--height-40)
}
.button-text {
    display: block;
    font-family: yomogi;
    transform: translateY(-2px);
    font-size: 16px;   
}
.button-text-black {
    color: var(--black);
    -webkit-text-stroke: var(--text-stroke-l) var(--black);
}
.button-text-white {
    color: var(--white);
    -webkit-text-stroke: var(--text-stroke-l) var(--white);
}
.create-button-icon,
.save-button-icon{
    width: clamp(20px, 20vw, 40px);
    height: auto;
}
.edit-button-icon,
.delete-button-icon,
.google-login-button-icon {
    width: min(40vw, 27px);
    height: auto;
}