/*全体の共通デザイン*/
.layout-container {
    font-family:charifont;
    background: var(--creame);
}
.after-login-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    padding-top: min(50vw, 15px);
    margin-bottom: min(50vw, 20px);
    padding-inline: var(--page-side-space);
}
/* タイトルデザイン */
.header-title {
    display: block;
    grid-column: 2;
    justify-self: center;
}
.header-title:hover{
    transform: var(--transform-translateY);
    transition: var(--transition-slow);
    box-shadow: var(--box-shadow-l) var(--black-050);
}