.edit-page-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    font-family: yomogi;
}
.headline-text{
    font-family: yomogi;
    -webkit-text-stroke: var(--text-stroke-m) var(--black);
    font-size: var(--font-size-s);
}
.content-box{
    resize: none;
    outline: none;
    box-sizing: border-box;
    width: var(--width-400);
    height: var(--height-250);
    line-height: 1.2;
    font-size: var(--font-size-m);
    padding: var(--padding-s);
    border: var(--border-m-solid) var(--black-010);
    border-radius: var(--border-radius-s);
    box-shadow: var(--box-shadow-m) var(--black-015);
}
/*datepicker*/
.flatpickr-calendar {
    margin-top: 16px;
    border-radius: var(--border-radius-m);
    background: var(--creame);
}
.expires-date-box{
    resize: none;
    outline: none;
    text-align: left;
    box-sizing: border-box;
    width: 400px;
    height: 30px;
    font-size: var(--font-size-s);
    padding: var(--padding-s);
    border: var(--border-m-solid) var(--black-010);
    border-radius: var(--border-radius-s);
    box-shadow: var(--box-shadow-m) var(--black-015);
}
/*付箋カラーの選択パレット*/
.color-pallet-background {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    width: 400px;
    height: 250px;
    gap: 30px;
    grid-template-columns: repeat(3, 100px);
    background-color: var(--white);
    border: var(--border-m-solid) var(--black-010);
    border-radius: var(--border-radius-m);
    box-shadow: var(--box-shadow-m) var(--black-015);
}
.color-option{
    cursor: pointer;
    width: 80px;
    height: 80px;
    border: var(--border-t-solid) var(--black-025);
    border-radius: var(--border-radius-m);
}
.color-option.selected {
    border: var(--border-w-solid) var(--black);
}
.color-option:hover {
    transform: var(--transform-translateY);
    transition: var(--transition-slow);
    box-shadow: var(--box-shadow-l) var(--black-050);
}
.fusen-edit-position {
    justify-self: center;
}