.edit-modal {
    display: grid;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    grid-template-columns: repeat(1, minmax(280px, 300px));
    align-items: center;
    justify-content: center;
    font-family: yomogi;
    border-radius: var(--border-radius-l);
    background: var(--creame); 
}
.content-box,
.expires-date-box,
.color-pallet-background {
    width: min(90vw, 300px);
}
.content-box{
    resize: none;
    outline: none;
    box-sizing: border-box;
    height: 180px;
    line-height: 1.2;
    padding: var(--padding-s);
    border: var(--border-m-solid) var(--black-010);
    border-radius: var(--border-radius-s);
    box-shadow: var(--box-shadow-m) var(--black-015);
}
/*datepicker*/
.flatpickr-calendar {
    margin-top: 16px;
    border-radius: var(--border-radius-m);
    background: var(--creame);
}
.expires-date-box{
    resize: none;
    outline: none;
    text-align: left;
    box-sizing: border-box;
    height: 30px;
    font-size: var(--font-size-s);
    padding: var(--padding-s);
    border: var(--border-m-solid) var(--black-010);
    border-radius: var(--border-radius-s);
    box-shadow: var(--box-shadow-m) var(--black-015);
}
/*付箋カラーの選択パレット*/
.color-pallet-background {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    height: 150px;
    gap: 5px;
    grid-template-columns: repeat(3, 100px);
    background-color: var(--white);
    border: var(--border-m-solid) var(--black-010);
    border-radius: var(--border-radius-m);
    box-shadow: var(--box-shadow-m) var(--black-015);
}
.color-option{
    cursor: pointer;
    width: 60px;
    aspect-ratio: 1 / 1;
    border: var(--border-t-solid) var(--black-025);
    border-radius: var(--border-radius-m);
}
.color-option.selected {
    border: var(--border-w-solid) var(--black);
}
.color-option:hover {
    transform: var(--transform-translateY);
    transition: var(--transition-slow);
    box-shadow: var(--box-shadow-l) var(--black-050);
}
.fusen-edit-position {
    justify-self: center;
}
.headline-text{
    font-family: yomogi;
    -webkit-text-stroke: var(--text-stroke-m) var(--black);
    font-size: var(--font-size-s);
}