.modal-overlay.hidden,
.login-modal.hidden,
.edit-modal.hidden {
    display: none;
}
.modal-overlay {
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(3px);
}
.login-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(90vw, 300px);
    padding: 30px;
    background-color: var(--creame);
    border-radius: var(--border-radius-m);
    z-index: 101;
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow-m) var(--black-015);
}
.edit-modal {
    display: grid;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: calc(100dvh - 32px);
    z-index: 101;
    padding: 16px;
    align-items: center;
    justify-content: center;
    font-family: yomogi;
    border-radius: var(--border-radius-m);
    background: var(--creame); 
}
.heading-m {
    text-align: center;
    color: var(--black);
    -webkit-text-stroke: var(--text-stroke-m) var(--black);
    font-size: 24px;
}
.heading-s {
    text-align: center;
    color: var(--black);
    font-size: 20px;
}