@import url(./animation.css);
@import url(./base.css);
.splash-container {
    display: grid;
    position: fixed;
    inset: 0;
    --fusen-size: clamp(150px, 18vw, 170px);;
    --fusen-gap: clamp(20px, 4vw, 45px);
    --fusen-area-width: calc((var(--fusen-size) * 4) + (var(--fusen-gap) * 3));
    grid-template-rows: 1fr auto 1fr;
    margin: 0;
    overflow: hidden;
    height: 100dvh;
    min-height: 100dvh;
    width: 100vw;
}
.splash-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 0;
}
.splash-title {
    animation: title-bounce-in 3.0s ease-out both;
    width: clamp(150px, 90vw, 500px);
    height: auto;
}
.splash-header,
.splash-footer {
    margin-inline: auto;
    width: min(100%, var(--fusen-area-width));
}

.splash-header {
    display: grid;
    grid-template-columns: repeat(4, var(--fusen-size));
    gap: var(--fusen-gap);
    align-items: start;
    transform: translateY(calc(var(--fusen-offset-y)* -1));
}
.splash-footer {
    display: grid;
    align-items: end;
    align-self: end;
    grid-template-columns: repeat(4, var(--fusen-size));
    gap: var(--fusen-gap);
    transform: translateY(var(--fusen-offset-y));
}
.footer-fusen-group {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, var(--fusen-size));
    gap: var(--fusen-gap);
}
.splash-fusen {
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius-l);
    box-shadow: var(--box-shadow-s) var(--black-012)
}
.top-y-fusen {
    transform: translateY(calc(var(--fusen-offset-y)* -1));
}
.under-y-fusen {
    transform: translateY(var(--fusen-offset-y));
}