    @font-face {
        font-family:shirokuma;
        src:url("../fonts/001Shirokuma-Regular.otf") format("opentype") 
    }
    @font-face {
        font-family:charifont;
        src:url("../fonts/Charifont.otf") format("opentype") 
    }
    @font-face {
        font-family:tsumugi;
        src:url("../fonts/tsumugi.otf") format("opentype") 
    }
    
    body{
        font-family:charifont;
        background: #fffaf0;
    }
    /*ヘッダー共通デザイン*/
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* タイトルデザイン */
    .title {
        width: 500px;
        height: auto;
    }
    /*今日の日付デザイン*/
    .todays-text{
        font-size: 35px;
        color: #0B0B5D;
        padding: 30px;
        letter-spacing: -0.05em;
        -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
        text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
    }
    /*付箋デザイン*/
    .fusen-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 150px;
        padding: 20px;
    }
   .fusen {
        width: 300px;
        height: 300px;
        perspective: 1000px;
    }
    .fusen-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;        
    }   
    .fusen-front,
    .fusen-back {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        box-sizing: border-box;
        display: flex;
        padding: 14px;
        font-size: 25px;
        text-align: left;
        color: #000000;
        border-radius: 30px;
        background-color: #A9CEEC;
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.12);
    }
    .fusen-back {
        transform: rotateY(180deg);
    }   
    .isFusenClick .fusen-inner {
        transform: rotateY(180deg);
    }
    /* memo: 影のデザインを変更するため、before疑似要素を削除してbox-shadowに変更（再変更可能にするため念のため残します） */
    /*
    .fusen ::before {
        position: absolute;
        bottom: -5px;
        right: 7px;
        z-index: -1;
        transform: rotate(5deg);
        width: 70%;
        height: 50%;
        background-color: #d0d0d0;
        content: "";
        filter: blur(4px);
    }
    */
    /*ボタンデザイン*/
    .create-button {
        display: flex;
        font-family: charifont;
        align-items: center;
        text-align: left;
        width: 240px;
        height: 80px;
        border-radius: 10px;
        background-color: #72b5ef;
        border: none;
        box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        right: 50px;
        bottom:50px;
        position:fixed;
    }
    .create-button-text {
        display: block;
        color: #000000;
        font-size: 25px;
        -webkit-text-stroke: 0.5px #000000;
    }
    .create-button-icon {
        width: 52px;
        height: 50px;
        margin-left: 20px;
    }
    .create-button:hover {
        transform: translateY(-1px);
        transition: all 0.4s ease;
        box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.5);
    }
    .flatpickr-calendar {
        border-radius: 20px;
        background: #fffaf0;
        margin-top: 16px;
    }
    /*編集ページ専用デザイン*/
    .edit-page-container {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;

    }
    .headline-text{
        font-size: 20px;
        -webkit-text-stroke: 0.5px #000000;
    }
    textarea{
        width: 400px;
        height: 250px;
        border-radius: 10px;
        resize: none;
        border: 0.5px solid rgba(0, 0, 0, 0.1);
        font-family: charifont;
        font-size: 20px;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.15);
        outline: none;
        line-height: 1.8;
    }
    input:focus,
    textarea:focus {
        border-color: #72b5ef;
        box-shadow: 0 0 0 2px rgba(123,184,245,0.2);
        box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.25);
    }
    /*編集画面用付箋デザイン*/
    .fusen-edit {
        justify-self: center;
        width: 400px;
        height: 400px;
        perspective: 1000px;
        gap: 20px;
    }

    /*付箋カラーの選択パレット*/
    .color-pallet-background {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        width: 400px;
        height: 250px;
        background-color: #FFFFFF;
        border-radius: 20px;
        border: 0.5px solid rgba(0, 0, 0, 0.1);
        box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.15);
        gap: 30px;
    }
     .color-option{
        width: 80px;
        height: 80px;
        border-radius: 20px;
        cursor: pointer;
        padding: 0;
        border: 0.1px solid rgba(0, 0, 0, 0.25);
     }
     .color-option.selected {
        border: 2px solid rgba(0, 0, 0, 1);
     }
    .color-option:hover {
        transform: translateY(-1px);
        transition: all 0.4s ease;
        box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.5);
    }
    /*input（日付入力ボックス）*/
    .expires-date-box{
        width: 400px;
        height: 30px;
        border-radius: 10px;
        resize: none;
        border: 0.5px solid rgba(0, 0, 0, 0.1);
        font-family: charifont;
        font-size: 20px;
        text-align: left;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.15);
        outline: none;
    }
    /*input（保存ボタン）*/
    .save-button{
        display: flex;
        font-family: charifont;
        justify-content: center;
        align-items: center;
        text-align: left;
        width: 400px;
        height: 80px;
        border-radius: 10px;
        border: none;
        background-color: #72b5ef;
        box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        position: static;
    }
    .save-button-text {
        display: block;
        color: #000000;
        font-size: 25px;
        -webkit-text-stroke: 0.5px #000000;
    }
    .save-button-icon {
        width: 50px;
        height: 50px;
        margin-left: 30px;
    }
    .save-button:hover {
        transform: translateY(-1px);
        transition: all 0.4s ease;
        box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.5);
    }




