<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fffaf0">
    <meta name="csrf_token" content="{{ csrf_token() }}">
    <meta name="description" content="ちょっとだけ覚えておきたいことを、冷蔵庫に貼る付箋のような感覚で気軽に残せるシンプルなメモアプリです。">
    <meta property="og:title" content="ちょこっとメモ">
    <meta property="og:description" content="ちょっとだけ覚えておきたいことを、気軽に残せるシンプルなメモアプリです。">
    <meta property="og:url" content="https://chocottomemo.app/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://chocottomemo.app/static/images/ogp.png">
    <title>ちょこっとメモ</title>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/icon-192.png') }}" type="image/png">
    <script type="module" src="{{ url_for('static', filename='js/registerServiceWorker.js')}}"></script>
    {% block head %}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}" {% block body_attribute %}{% endblock %}>
    {% block body %}
    {% endblock %}
</body>
</html>