<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ちょこっとメモ</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="module" src="{{ url_for('static', filename='js/fusenListMain.js') }}"></script>
    </head>
    <body class="layout-container" data-storage-mode="{{ storageMode }}">
        <header class="after-login-header">
            <img class="header-title" src="{{ url_for('static', filename='images/Title_chocottoMemo.svg')}}">
            <button class="login-button login-button-text">ログイン</button>
        </header>
        <main>
            <div class="fusen-container">
                <template id="fusen-template">
                    <div class="fusen fusen-list-position" data-fusen-id="">
                        {% include "parts/fusen_menu.html" %}
                        <div class="fusen-inner">
                            <div class="fusen-front"></div>
                            <div class="fusen-back"></div>
                        </div>
                    </div>
                </template>
            </div>
            <button class="create-button" type="button" onclick="location.href='{{url_for("notes.open_create_window")}}'">
                <span class="create-button-text">付箋を作成する</span>
                <img class="create-button-icon" src="{{ url_for('static', filename='images/create-button.svg') }}" alt="作成する">
            </button>
            <button class="google-login-button" onclick="location.href='{{url_for("auth.google_login")}}'">
                <img class="google-login-button-icon" src="{{url_for('static', filename='images/google-logo.svg')}}">
                <span class="google-login-button-text">Googleでログイン</span>
            </button>
        </main>
    </body>
</html>