<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ちょこっとメモ</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script type="module" src="{{ url_for('static', filename='js/fusenListMain.js') }}"></script>
    </head>
    <body class="layout-container" data-storage-mode="{{ storageMode }}">
        <header class="after-login-header">
            <img class="header-title" src="{{ url_for('static', filename='images/Title_chocottoMemo.svg')}}">
            <button id="login-open-button" class="button login-button button-text button-text-white">ログイン</button>
        </header>
        <main>
            <div id="fusen-list" class="fusen-container">
                <template id="fusen-template">
                    <div class="fusen fusen-list-position" data-fusen-id="">
                        {% include "parts/fusen_menu.html" %}
                        <div class="fusen-inner">
                            <div class="fusen-front"></div>
                            <div class="fusen-back"></div>
                        </div>
                    </div>
                </template>
            </div>
            <button id="create-open-button" class="button create-button" type="button">
                <span class="button-text button-text-black">作成する</span>
                <img class="create-button-icon" src="{{ url_for('static', filename='images/create-button.svg') }}" alt="作成する">
            </button>
            {% include "parts/login-modal.html" %}
            {% include "parts/edit-modal.html" %}
        </main>
    </body>
</html>