<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ちょこっとメモ</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script type="module" src="{{ url_for('static', filename='js/fusenEditMain.js') }}"></script>
    </head>
    <body class="layout-container">
        <header class="after-login-header" onclick="location.href='{{ url_for("notes.index")}}'">
            <img class="header-title" src="{{ url_for('static', filename='images/Title_chocottoMemo.svg')}}">
        </header>
        <main>
            <div class="edit-page-container">
                <div class="fusen fusen-edit-position" style="--fusen-color: {{ fusenData.color if fusenData else '#A9CEEC'}};">
                    <div class="fusen-inner">
                        <div id="fusen-content" class="fusen-front"></div>
                        <div id="fusen-expires-at" class="fusen-back"></div>
                    </div>
                </div>
                <form 
                    {% if fusenMode == "edit" %}
                        action="{{ url_for('notes.update_fusen', fusenId=fusenData.id) }}"
                    {% else %}
                        action="{{ url_for('notes.create_fusen') }}"
                    {% endif %}
                    method="post"
                >
                    <label class="headline-text" for="content">付箋に書きたいことは何かな<br>（１００文字まで）:</label>
                    <br>
                    <textarea 
                        class="content-box"
                        id="content"
                        name="content" 
                        rows="20" 
                        cols="50" 
                        required maxlength="100">{{ fusenData.content if fusenData else '' }}</textarea>
                    <br><br>
                    <label class="headline-text" for="expires_at">付箋を貼り続ける期間を選択してね:</label>
                    <br>
                    <input 
                        class="expires-date-box"
                        type="text"
                        id="datepicker" 
                        name="expires_at" 
                        value="{{fusenData.expires_at or '' if fusenData else ''}}"
                    >
                    <br><br>
                    <label class="headline-text" for="color">付箋の色を決めてね:</label>
                    <br>
                    <div class="color-pallet-background">
                        <button type="button" class="color-option" data-color="#A9CEEC" style="background: #A9CEEC;"></button>
                        <button type="button" class="color-option" data-color="#F8C394" style="background: #F8C394;"></button>
                        <button type="button" class="color-option" data-color="#FF9699" style="background: #FF9699;"></button>
                        <button type="button" class="color-option" data-color="#96F8AF" style="background: #96F8AF;"></button>
                        <button type="button" class="color-option" data-color="#FFE57B" style="background: #FFE57B;"></button>
                        <button type="button" class="color-option" data-color="#B3ADFF" style="background: #B3ADFF;"></button>
                    </div><br>
                    <input type="hidden" id="selected-color" name="color" value="{{fusenData.color if fusenData else '#A9CEEC'}}">
                    <button type="submit" class="save-button" value="保存" name="create-data">
                        <span class="save-button-text">付箋を保存</span>
                        <img class="save-button-icon" src="{{ url_for('static', filename='images/sticky-note.svg') }}">
                    </button>
                </form>
            </div>
        </main>
    </body>