<!DOCTYPE html>
<head>
    <head>
        <meta charset="UTF-8">
        <title>ちょこっとメモ</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/fusen_common.js')}}"></script>
        <script src="{{ url_for('static', filename='js/fusen_list.js')}}"></script>
    </head>
</head>
<main>
    <img class="title" src="{{ url_for('static', filename='images/Title_chocottoMemo.svg')}}">
    <a href="{{ url_for('auth.google_login')}}">ログイン</a>
</main>