<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>ちょこっとメモ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/fusen_common.js')}}"></script>
    <script src="{{ url_for('static', filename='js/fusen_list.js')}}"></script>
</head>
<body class="layout-container login-container">
    <header class="login-header">
        <div class="login-fusen" style="background: #F8C394;"></div>
        <div class="login-fusen top-y-fusen" style="background: #A9CEEC;"></div>
        <div class="login-fusen" style="background: #B3ADFF;"></div>
        <div class="login-fusen top-y-fusen" style="background: #FFE57B;"></div>
    </header>
    <main class="login-main">
        <img class="login-title" src="{{ url_for('static', filename='images/title_chocottoMemo_login.svg')}}"><br>
        <button class="login-button google-login-button" onclick="location.href='{{url_for("auth.google_login")}}'">
            <img class="login-button-icon" src="{{url_for('static', filename='images/google-logo.svg')}}">
            <span class="login-button-text">Googleでログイン</span>
        </button>
    </main>
    <footer class="login-footer">
        <div class="footer-fusen-group">
            <div class="login-fusen under-y-fusen" style="background: #FF9699;"></div>
            <div class="login-fusen" style="background: #96F8AF;"></div>
        </div>
    </footer>
</body>