<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ちょこっとメモ</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <script src="{{ url_for('static', filename='js/fusen_common.js')}}"></script>
    <script src="{{ url_for('static', filename='js/fusen_list.js')}}"></script>
    <body class="layout-container">
        <header>
            <img class="title" src="{{ url_for('static', filename='images/Title_chocottoMemo.svg')}}">
        </header>
        <main>
            <div class="fusen-container">
                {% for fusen in fusenList %}
                <div class="fusen" style="--fusen-color: {{ fusen.color }};" data-fusen-id="{{ fusen.id }}">
                    <div class="fusen-menu">
                        <button type="button" class="fusen-menu-button">⋯</button>
                        <div class="fusen-menu-dropdown">
                            <button type="button" class="edit-button">
                                <span class="edit-button-text">編集する</span>
                                <img class="edit-button-icon" src="{{ url_for('static', filename='images/create-button.svg') }}" alt="編集する">
                            </button><br>
                            <button type="button" class="delete-button">
                                <span class="delete-button-text">削除する</span>
                                <img class="delete-button-icon" src="{{ url_for('static', filename='images/delete-button.svg') }}" alt="編集する">
                            </button>
                        </div>
                    </div>
                    <div class="fusen-inner">
                        <div class="fusen-front">{{fusen.content}}</div>
                        <div class="fusen-back">
                            {% if fusen.expires_at %}
                                <span>期限日：</span>{{ fusen.expires_at }}
                            {% else %}
                                <span>期限日なし</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="create-button" type="button" onclick="location.href='{{url_for("notes.open_create_window")}}'">
                <span class="create-button-text">付箋を作成する</span>
                <img class="create-button-icon" src="{{ url_for('static', filename='images/create-button.svg') }}" alt="作成する">
            </button>
        </main>
    </body>
</html>